services:
  database:
    image: 'postgres:15'

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aston_project_db

#    network_mode: host