spring:
  application:
    name: user-service

  config:
    import: optional:configserver:http://config-server:8888

  cloud:
    config:
      fail-fast: true  # стоп-слово, так сказать
      retry:
        initial-interval: 1000
        max-interval: 2000
        max-attempts: 13